<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>

  <div class="top-bar" id="example-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">The_Lone_Devil Codes UK</li>
        <li>
          <a href="#">Minecraft Mods</a>
          <ul class="menu vertical">
            <li><a href="/mods/potion-mixer">Potion Mixer</a></li>
            <li><a href="/mods/nea">Not Enough Alloys(Not Released Yet)</a></li>
          </ul>
        </li>
        <li><a href="http://mcs.co.uk" target="_blank">Current Employer</a></li>
        <li><a href="https://entity.itemframe.name" target="_blank">OTBProject</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
    <%= yield %>

  </body>
</html>
